$header-height: 34px;
$border-color: #c0c0c0;
$toolbar-height: 40px;
$formula-height: 24px;
$row-width: 46px;
$row-height: 24px;
$row-data-width: 128px;
$dashboard-header-height: 80px;
$dashboard-tables-height: 240px;