@import "mixins";
@import "variables";
.excel__header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: $header-height;
    padding: 8px 4px;
    display: flex;
    justify-content: space-between;
    & .header__input {
        margin: 0;
        border: 1px solid transparent;
        border-radius: 2px;
        outline: none;
        font-size: 18px;
        box-sizing: border-box;
        height: 20px;
        padding: 2px 7px;
        line-height: 22px;
        &:hover {
            border: 2px solid gray;
        }
        &:focus {
            border: 2px solid #1a73e8;
            border-radius: 2px;
        }
    }
    & .button {
        @include button(red);
    }
}