@import "variables";
@import "mixins";
.excel__table {
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 0;
    left: 0;
    top: $header-height + $toolbar-height + $formula-height;
    overflow: auto;
    .row {
        display: flex;
    }
    .row-info {
        display: flex;
        justify-content: center;
        /* align horizontal */
        align-items: center;
        border: 1px solid $border-color;
        background-color: #f8f9fa;
        border-left: 0px;
        border-top: 0px;
        min-width: $row-width;
        width: 46px;
        height: $row-height;
    }
    .cell {
        color: black;
        display: flex;
        justify-content: center;
        /* align horizontal */
        align-items: center;
        border: 1px solid $border-color;
        border-left: 0px;
        border-top: 0px;
        min-width: 128px;
        width: $row-data-width;
        height: $row-height;
        font-size: 14px;
        font-weight: 600;
        outline: none;
    }
    .column {
        background-color: #f8f9fa;
        font-size: 10px;
        color: gray;
    }
    .selected {
        z-index: 2;
        border-width: 0px;
        outline: 2px solid blue;
    }
}