@import "variables";
@import "mixins";
.excel__table {
    position: absolute;
    left: 0;
    right: 0;
    top: $header-height + $toolbar-height + $formula-height;
    overflow-x: auto;
    padding-bottom: 2px;
    z-index: 10;
    .row {
        display: flex;
        flex-direction: row;
        min-height: 20px;
        height: $row-height;
    }
    .row-info {
        display: flex;
        flex-direction: column;
        min-width: $info-cell-width;
        height: 100%;
        text-align: center;
        border: 1px solid $border-color;
        background: #f8f9fa;
        border-top: none;
        position: relative;
        justify-content: center;
        .triggerY {
            position: absolute;
            height: 2px;
            width: 100%;
            bottom: 0;
            left: 0;
            right: 0;
            &:hover {
                background-color: rgb(120, 120, 228);
                cursor: ns-resize;
            }
        }
    }
    .row-data {
        display: flex;
    }
    .column {
        display: flex;
        background: #f8f9fa;
        align-items: center;
        justify-content: center;
        min-width: 40px;
        width: $cell-width;
        border: 1px solid $border-color;
        border-top: 0;
        border-left: 0;
        height: 100%;
        position: relative;
        .triggerX {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            width: 3px;
            &:hover {
                background-color: rgb(120, 120, 228);
                cursor: ew-resize;
            }
        }
    }
    .cell {
        min-width: 40px;
        padding-top: 5px;
        padding-left: 1px;
        width: $cell-width;
        height: 100%;
        border: 1px solid #e2e3e3;
        border-top: 0;
        border-left: 0;
        color: #111;
        white-space: nowrap;
        outline: none;
        overflow-x: hidden;
        &.selected {
            overflow-x: initial;
            border: 1px solid blue;
            z-index: 2;
        }
    }
}